@charset "UTF-8";
* {
  outline-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0 none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #111111;
  font-weight: normal;
}

b, strong {
  font-weight: 700;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

p {
  margin: 0;
}

i {
  font-style: italic;
}

big {
  text-transform: uppercase;
}

small {
  text-transform: lowercase;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #111111;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  float: left;
  width: 100%;
  min-width: 280px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow-x: hidden;
}

a:link, a:visited {
  color: #111111;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_CircularStd-Bold";
  src: url("../fonts/CircularStd-Bold.eot");
  src: local("☺"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* === Global variable === */
/* === Background colors of selected portion of a page === */
::selection {
  background: #6003BD;
  /* Safari */
  color: #FFF;
}

::-moz-selection {
  background: #6003BD;
  /* Firefox */
  color: #FFF;
}

html, body {
  min-height: 100%;
  height: 100%;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  widtH: 100%;
  height: 100%;
}
.lines i {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
}
.lines i:nth-child(1) {
  left: 14.8%;
}
.lines i:nth-child(2) {
  left: 37.2%;
}
.lines i:nth-child(3) {
  left: 44.5%;
}
.lines i:nth-child(4) {
  left: 64%;
}
.lines i:nth-child(5) {
  left: 78%;
}
.lines i:nth-child(6) {
  left: 85.2%;
}
.lines.dark i {
  background: #e5e5e5;
}

.logo {
  position: relative;
  margin: 30px;
  float: left;
  width: 223px;
  height: 223px;
  background: #6003BD;
}
.logo__wrap {
  font-family: "Conv_CircularStd-Bold";
  position: absolute;
  left: 0;
  righT: 0;
  bottom: 0;
  padding: 18px 23px;
}
.logo__wrap img {
  width: 43px;
  float: left;
  margin: 0 10px 0 0;
}
.logo--text {
  display: block;
  overflow: hidden;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 7px;
  color: #FFF;
}
.logo--subtext {
  display: block;
  overflow: hidden;
  font-size: 7px;
  letter-spacing: 0.3em;
  color: #FFF;
  opacity: 0.5;
  text-transform: uppercase;
}

/* === Header section === */
.header {
  position: relative;
  floaT: left;
  width: 100%;
  min-height: 100%;
  height: 100%;
  min-height: 680px;
  max-height: 980px;
  overflow: hidden;
  /* === Header Form Section === */
}
.header--bg {
  position: absolute;
  top: 0;
  lefT: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bacground--image.jpg");
  background-size: cover;
}
.header__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  widtH: 100%;
  height: 100%;
  display: block;
  text-align: center;
  top: -70px;
}
.header--slogan {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: table;
}
.header--slogan--text {
  position: relative;
  font-family: "Conv_CircularStd-Bold";
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  font-size: 122px;
  line-height: 125px;
  letter-spacing: -0.0377em;
}
.header--slogan--text .header--slogan--text--wrap {
  display: block;
  overflow: hidden;
  min-height: 260px;
  margin-bottom: 90px;
}
.header--slogan--text .header--slogan--text--wrap span {
  display: inline;
}
.header--slogan--text:before {
  content: "";
  width: 90px;
  height: 5px;
  background: #FFF;
  margin: 47px 45px 0 0;
  float: left;
  vertical-align: top;
}
.header__form {
  position: absolute;
  bottom: 220px;
  left: 0;
  right: 0;
  text-align: center;
}
.header__form--wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  display: block;
}
.header__form--wrapper form {
  display: block;
  overflow: hidden;
  margin-left: 142px;
}
.header__form--wrapper form:hover .header__form--input input, .header__form--wrapper form.focus .header__form--input input {
  color: #111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--input input::-webkit-input-placeholder, .header__form--wrapper form.focus .header__form--input input::-webkit-input-placeholder {
  color: #111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--input input::-moz-placeholder, .header__form--wrapper form.focus .header__form--input input::-moz-placeholder {
  color: #111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--input input:-ms-input-placeholder, .header__form--wrapper form.focus .header__form--input input:-ms-input-placeholder {
  color: #111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--input input:-moz-placeholder, .header__form--wrapper form.focus .header__form--input input:-moz-placeholder {
  color: #111;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--input .header__form--input--line, .header__form--wrapper form.focus .header__form--input .header__form--input--line {
  height: 70px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--wrapper form:hover .header__form--button--line, .header__form--wrapper form.focus .header__form--button--line {
  height: 70px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--description {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #FFF;
  opacity: 0.5;
  margin: 25px 0 0 0;
}
.header__form--input {
  float: left;
  width: 79%;
  position: relative;
}
.header__form--input.error .header__form--input--line:after {
  height: 5px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header__form--input input {
  position: relative;
  z-index: 1;
  font-family: "Conv_CircularStd-Bold";
  float: left;
  width: 100%;
  color: #FFF;
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: 24px;
  padding: 21px 24px;
  letter-spacing: -0.0255em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input input::-webkit-input-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input input::-moz-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input input:-ms-input-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input input:-moz-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input .header__form--input--line {
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  background: #FFF;
  z-index: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__form--input .header__form--input--line:after {
  content: "";
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background: #fb3434;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header__form--button {
  position: relative;
  width: 20%;
  margin-left: 1%;
  float: left;
  cursor: pointer;
}
.header__form--button p {
  position: relative;
  font-family: "Conv_CircularStd-Bold";
  font-size: 24px;
  color: #FFF;
  text-align: center;
  padding: 21px 0;
  z-index: 1;
}
.header__form--button--line {
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  background: #6003BD;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* === Content section === */
.content {
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0 0 0;
  margin: -60px 0 0 0;
}
.content__bg {
  position: relative;
  max-width: 1340px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 200px;
  background: #6003BD;
}
.content__bg--title {
  font-family: "Conv_CircularStd-Bold";
  position: relative;
  margin-top: 61px;
  float: left;
  width: calc(50% - 160px);
  padding-left: 130px;
  left: 0;
  color: #FFF;
  font-size: 72px;
  line-height: 74px;
  letter-spacing: -3px;
}
.content__bg--title:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 7px;
  height: 141px;
  background: #FFF;
  z-index: 1;
}
.content__bg--slide {
  position: relative;
  left: 133px;
  bottom: -100px;
  width: 740px;
  height: 400px;
  display: block;
  background: #000;
  overflow: hidden;
}
.content__bg--slide.slide2 {
  position: absolute;
  right: -80px;
  left: initial;
  top: 75px;
}
.content__bg--slide--wrap {
  position: relative;
  z-index: 10;
  margin: 50px 60px;
  display: block;
  overflow: hidden;
  opacity: 1;
}
.content__bg--slide--title {
  font-family: "Conv_CircularStd-Bold";
  color: #FFF;
  float: left;
  font-size: 34px;
  line-height: 1.3;
  max-width: 300px;
  margin-bottom: 30px;
}
.content__bg--slide--content {
  float: left;
  width: 60%;
  color: #FFF;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  opacity: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.content__bg--slide--content p {
  opacity: 0.6;
  float: left;
  width: 100%;
}
.content__bg--slide--content b {
  font-family: "Conv_CircularStd-Bold";
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.content__bg--slide--arrow {
  position: absolute;
  left: 60px;
  bottom: 30px;
  width: 100px;
  z-index: 5;
}
.content__bg--slide--arrow .slide--button {
  position: relative;
  float: left;
  width: 47%;
  background: #6003BD;
  height: 48px;
  cursor: pointer;
}
.content__bg--slide--arrow .slide--button + .slide--button {
  margin-left: 6%;
}
.content__bg--slide--arrow .slide--button:hover.right:after {
  transform: translate3d(3px, 0px, 0);
  -webkit-transform: translate3d(3px, 0px, 0);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content__bg--slide--arrow .slide--button:hover.left:after {
  transform: translate3d(-3px, 0px, 0);
  -webkit-transform: translate3d(-3px, 0px, 0);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content__bg--slide--arrow .slide--button.left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  background: url("../images/arrow--left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content__bg--slide--arrow .slide--button.right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  background: url("../images/arrow--right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content--wrapper {
  padding: 0 30px;
  display: block;
}
.content__box {
  position: relative;
  max-width: 1340px;
  width: 100%;
  display: block;
  margin: auto;
}
.content__box--title {
  font-family: "Conv_CircularStd-Bold";
  color: #111;
  font-size: 72px;
  line-height: 74px;
  letter-spacing: -3px;
  float: left;
  position: relative;
  padding-left: 130px;
  margin-bottom: 80px;
}
.content__box--title:before {
  position: absolute;
  lefT: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 7px;
  background: #000;
  float: left;
}
.content__box--title p {
  display: block;
  overflow: hidden;
}
.content__box--triggers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.content__box__text {
  padding-left: 130px;
}
.content__box__text--title {
  font-family: "Conv_CircularStd-Bold";
  floaT: left;
  width: 100%;
  color: #6003BD;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 44px;
  min-height: 130px;
  letter-spacing: -0.0344em;
}
.content__box__text--text {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  float: left;
  width: 100%;
}
.content__box__text--text b {
  font-family: "Conv_CircularStd-Bold";
  floaT: left;
  width: 100%;
  margin-bottom: 15px;
  font-size: 24px;
  letter-spacing: -1px;
}
.content__box__text--text p {
  font-size: 14px;
  line-height: 24px;
  float: left;
  width: 100%;
}
.content--bigtitle {
  position: relative;
  font-family: "Conv_CircularStd-Bold";
  floaT: left;
  width: 100%;
  font-size: 118px;
  line-height: 1;
  letter-spacing: -3px;
  color: #111;
  margin: 135px 0 130px 0;
  padding-lefT: 129px;
  margin-left: -131px;
}
.content--bigtitle:after {
  content: "";
  widtH: 83px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 3px;
  background: #000;
}

/* === Footer === */
.footer__form {
  float: left;
  width: 100%;
  margin-bottom: 90px;
}
.footer__form__wrapper {
  max-width: 815px;
  width: 100%;
  margin: auto;
  display: block;
}
.footer__form__wrapper form {
  float: left;
  width: 100%;
}
.footer__form__wrapper form:hover .footer__form--input input, .footer__form__wrapper form.focus .footer__form--input input {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--input input::-webkit-input-placeholder, .footer__form__wrapper form.focus .footer__form--input input::-webkit-input-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--input input::-moz-placeholder, .footer__form__wrapper form.focus .footer__form--input input::-moz-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--input input:-ms-input-placeholder, .footer__form__wrapper form.focus .footer__form--input input:-ms-input-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--input input:-moz-placeholder, .footer__form__wrapper form.focus .footer__form--input input:-moz-placeholder {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--input .footer__form--input--line, .footer__form__wrapper form.focus .footer__form--input .footer__form--input--line {
  height: 70px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--button--line, .footer__form__wrapper form.focus .footer__form--button--line {
  height: 70px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form__wrapper form:hover .footer__form--button p, .footer__form__wrapper form.focus .footer__form--button p {
  color: #FFF;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input {
  float: left;
  width: 79%;
  position: relative;
}
.footer__form--input.error .footer__form--input--line:after {
  height: 5px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer__form--input input {
  position: relative;
  z-index: 1;
  font-family: "Conv_CircularStd-Bold";
  float: left;
  width: 100%;
  color: #000;
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: 24px;
  padding: 21px 24px;
  letter-spacing: -0.0255em;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input input::-webkit-input-placeholder {
  color: #000;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input input::-moz-placeholder {
  color: #000;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input input:-ms-input-placeholder {
  color: #000;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input input:-moz-placeholder {
  color: #000;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input .footer__form--input--line {
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  background: #000;
  z-index: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--input .footer__form--input--line:after {
  content: "";
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 0px;
  background: #fb3434;
  z-index: 1;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer__form--button {
  position: relative;
  width: 20%;
  margin-left: 1%;
  float: left;
  cursor: pointer;
}
.footer__form--button p {
  position: relative;
  font-family: "Conv_CircularStd-Bold";
  font-size: 24px;
  color: #6003BD;
  text-align: center;
  padding: 21px 0;
  z-index: 1;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__form--button--line {
  position: absolute;
  lefT: 0;
  bottom: 0;
  right: 0;
  height: 5px;
  background: #6003BD;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* === Popup after successful send form === */
.maska {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.popup {
  display: none;
  position: absolute;
  max-width: 1070px;
  left: 50%;
  top: 200px;
  margin-left: -535px;
  background: #FFF;
  overflow: hidden;
  z-index: 101;
  padding-bottom: 300px;
}
.popup--bg {
  position: absolute;
  bottom: 0;
  lefT: 0;
  right: 0;
  width: 100%;
  height: 594px;
  background: url("../images/background--popup.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.popup--close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  background: url("../images/close--icon.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
}
.popup--title {
  font-family: "Conv_CircularStd-Bold";
  font-size: 100px;
  floaT: left;
  width: 100%;
  margin: 90px 0 40px 0;
  color: #000;
  text-align: center;
  letter-spacing: -3px;
}
.popup--subtitle {
  font-size: 24px;
  line-height: 34px;
  float: left;
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 105px;
}
.popup--subtitle b {
  font-family: "Conv_CircularStd-Bold";
  font-weight: normal;
}
.popup__box {
  float: left;
  width: 100%;
  margin-bottom: 112px;
}
.popup__box__wrap {
  display: block;
  padding: 0 130px;
  overflow: hidden;
}
.popup__box--tlie {
  position: relative;
  floaT: left;
  width: 270px;
  height: 270px;
  background: #6003BD;
  margin: 0 135px 0 0;
}
.popup__box--tlie--text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.popup__box--tlie--text p {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #FFF;
}
.popup__box--tlie--text b {
  font-family: "Conv_CircularStd-Bold";
  float: left;
  width: 100%;
  text-transform: none;
  font-size: 100px;
  line-height: 100px;
  color: #FFF;
  margin-bottom: 5px;
}
.popup__box--content {
  display: block;
  overflow: hidden;
}
.popup__box--content--title {
  font-family: "Conv_CircularStd-Bold";
  float: left;
  width: 100%;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  margin-bottom: 35px;
  margin-top: -11px;
  letter-spacing: -0.0499em;
}
.popup__box--content--text {
  font-size: 24px;
  line-height: 34px;
  float: left;
  width: 100%;
  margin-bottom: 21px;
}
.popup__social {
  float: left;
  width: 100%;
}
.popup__social ul li {
  float: left;
}
.popup__social ul li + li {
  margin-left: 20px;
}
.popup__social--button {
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  background: #FF581B;
}
.popup__social--button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  margin-top: -13px;
  width: 27px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.popup__social--button.facebook:after {
  background-image: url("../images/facebook--icon.svg");
  background-size: cover;
}
.popup__social--button.twitter:after {
  background-image: url("../images/twitter--icon.svg");
  background-size: cover;
}
.popup__social--button.gplus:after {
  width: 36px;
  height: 27px;
  background-image: url("../images/gplus--icon.svg");
  background-size: cover;
}
.popup__share {
  float: left;
  width: 100%;
  text-align: center;
}
.popup__share--description {
  float: left;
  width: 100%;
  text-align: center;
  font-sizE: 18px;
  color: #000;
  opacity: 0.5;
  margin-bottom: 9px;
}
.popup__share--link {
  font-family: "Conv_CircularStd-Bold";
  display: inline-block;
  text-align: center;
  font-size: 40px;
  color: #000;
  line-height: 50px;
  margin-bottom: 7px;
  letter-spacing: -1px;
}
.popup__share--linkcopy {
  float: left;
  width: 100%;
  text-align: center;
}
.popup__share--linkcopy p {
  color: #6003BD;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

/* === Carousel section === */
.main-carousel {
  float: left;
  width: 100%;
}

.carousel-cell {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.carousel-cell.is-selected .content__bg--slide--content {
  opacity: 0;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.carousel--img {
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
}
.carousel--img_1 {
  background-image: url("../images/background--slider-1.jpg");
}
.carousel--img_2 {
  background-image: url("../images/background--slider-2.jpg");
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}
@media screen and (max-width: 1600px) {
  .header--slogan--text {
    font-size: 100px;
    line-height: 110px;
  }

  .header--slogan, .header__form--wrapper {
    max-width: 920px;
  }
}
@media screen and (max-width: 1500px) {
  .content__bg--slide.slide2 {
    right: -30px;
  }
}
@media screen and (max-width: 1080px) {
  .popup {
    left: 0;
    margin: 0 15px;
  }

  .popup__box--tlie {
    margin-right: 85px;
  }
}
@media screen and (max-width: 1390px) {
  .header--slogan--text {
    font-size: 80px;
    line-height: 97px;
  }

  .header--slogan, .header__form--wrapper {
    max-width: 756px;
  }

  .header__form {
    bottom: 190px;
  }
}
@media screen and (max-width: 1360px) {
  .header__wrapper {
    left: 285px;
    widtH: initial;
  }

  .header--slogan--text {
    font-size: 80px;
    line-height: 98px;
  }
  .header--slogan--text:before {
    width: 70px;
    margin: 47px 30px 0 0;
  }

  .content__bg--slide {
    width: 50%;
  }

  .content__bg--title,
.content__box--title {
    font-size: 60px;
    width: 100%;
    line-height: 70px;
  }
  .content__bg--title:after,
.content__box--title:after {
    height: 120px;
  }

  .content__box__text:not(:first-child) {
    padding-left: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .popup__box--tlie {
    margin-right: 65px;
    width: 240px;
    height: 240px;
  }

  .content__bg {
    margin-bottom: 160px;
  }

  .header__wrapper {
    top: 56px;
  }

  .header--slogan {
    display: block;
    float: left;
  }

  .header--slogan--text {
    margin: 15px 0 0 0;
  }
  .header--slogan--text .header--slogan--text--wrap {
    margin-bottom: 0;
  }
  .header--slogan--text .header--slogan--text--wrap p {
    white-space: initial;
  }

  .header__form--wrapper {
    padding: 0 30px;
    width: initial;
  }
  .header__form--wrapper form {
    margin-left: 0;
  }

  .content__box--title {
    padding-left: 14%;
  }

  .content__box--triggers {
    flex-direction: column;
  }

  .content__box__text {
    margin-left: 14%;
    padding-left: 0;
    margin-bottom: 70px;
  }
  .content__box__text--title {
    min-height: initial;
    margin-bottom: 15px;
  }
  .content__box__text:not(:first-child) {
    padding-left: 0;
  }
}
@media screen and (max-width: 860px) {
  .popup--title {
    font-size: 80px;
  }

  .popup__box--content--title {
    font-size: 40px;
    line-height: 44px;
  }

  .popup__box--content--text {
    font-size: 22px;
    line-height: 32px;
  }

  .popup__box__wrap {
    padding: 0 60px;
  }

  .popup__box--tlie {
    margin-right: 60px;
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 780px) {
  .lines.dark i {
    background: rgba(229, 229, 229, 0.4);
  }

  .logo {
    margin: 15px;
  }

  .header__form--wrapper {
    padding: 0 15px;
  }

  .content--wrapper {
    padding: 0 15px;
  }

  .header {
    height: initial;
  }

  .header__wrapper {
    position: relative;
    top: 0;
    left: 15px;
    float: left;
    width: 88%;
    height: initial;
    display: block;
  }

  .header__form {
    position: relative;
    float: left;
    width: 100%;
    bottom: 0;
    padding-bottom: 100px;
  }

  .header--slogan--text {
    display: block;
    float: left;
    width: 100%;
    font-size: 58px;
    line-height: 68px;
  }
  .header--slogan--text:before {
    content: none;
  }

  .header--slogan--text .header--slogan--text--wrap {
    min-height: 140px;
    padding-bottom: 60px;
  }

  .header__form--input {
    width: 100%;
  }

  .header__form--button {
    width: 100%;
    margin-left: 0;
  }

  .header__form--input {
    margin-bottom: 15px;
  }
  .header__form--input input {
    font-size: 18px;
    color: #111;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__form--input input::-webkit-input-placeholder {
    color: #111;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__form--input input::-moz-placeholder {
    color: #111;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__form--input input:-ms-input-placeholder {
    color: #111;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__form--input input:-moz-placeholder {
    color: #111;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__form--input .header__form--input--line {
    height: 70px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__form--description {
    text-align: center !important;
    opacity: 1 !important;
  }

  .header__form--button--line {
    height: 70px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .content__bg {
    height: inherit;
    height: initial;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }

  .content__bg--title {
    position: relative;
    padding-left: 14%;
    line-height: 60px;
    margin: 40px 0 40px 0;
  }

  .content__bg--slide {
    left: 0;
    top: 0 !important;
    bottom: 0;
    width: 100%;
    height: 330px;
    transform: translate3d(0px, 0px, 0px) !important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
  }
  .content__bg--slide.slide1 {
    position: relative;
    left: 20px;
    right: 0;
    margin-bottom: 40px;
  }
  .content__bg--slide.slide2 {
    position: relative;
    left: -20px;
    righT: 0;
  }
  .content__bg--slide--title {
    width: 100%;
    max-width: 100%;
    font-size: 28px;
  }

  .content__bg--slide--wrap {
    margin: 40px 33px;
  }

  .content__bg--slide--content b {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
  .content__bg--slide--content p {
    display: none;
  }

  .content__box--title {
    margin-bottom: 80px;
  }

  .content--bigtitle {
    margin-top: 0;
    font-size: 71px;
    line-height: 71px;
    margin-bottom: 40px;
  }

  .footer__form {
    margin-bottom: 60px;
  }

  .footer__form--input {
    width: 100%;
  }

  .footer__form--button {
    width: 100%;
    margin-left: 0;
  }

  .footer__form--input {
    margin-bottom: 15px;
  }
  .footer__form--input input {
    font-size: 18px;
    color: #000 !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input input::-webkit-input-placeholder {
    color: #000 !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input input::-moz-placeholder {
    color: #000 !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input input:-ms-input-placeholder {
    color: #000 !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input input:-moz-placeholder {
    color: #000 !important;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input .footer__form--input--line {
    height: 55px !important;
    background: #FFF;
    border: 5px solid #000;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .footer__form--input .footer__form--input--line:after {
    bottom: -5px;
  }
  .footer__form--input.error .footer__form--input--line {
    border: 5px solid #fb3434;
  }

  .footer__form--button--line {
    height: 70px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .footer__form--button p {
    color: #FFF;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .content__bg--slide--arrow {
    left: 35px;
  }

  .content__box__text--title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 700px) {
  .popup--title {
    font-size: 66px;
  }

  .popup--subtitle {
    margin-bottom: 40px;
  }

  .popup__box--tlie {
    margin: auto;
    margin-bottom: 50px;
    float: none;
  }

  .popup__box--content {
    float: left;
    width: 100%;
  }

  .popup__box {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 520px) {
  .popup--title {
    font-size: 44px;
  }

  .popup__share--link {
    font-size: 32px;
    line-height: 43px;
  }

  .popup--subtitle {
    font-size: 21px;
    line-height: 30px;
  }

  .popup__box--content--title {
    font-size: 34px;
    line-height: 41px;
  }

  .popup__box--content--title {
    margin-bottom: 25px;
  }

  .popup__box--content--text {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .popup__box__wrap {
    padding: 0 30px;
  }

  .popup--subtitle {
    font-size: 18px;
    line-height: 28px;
  }

  .popup__social ul li + li {
    margin-left: 6px;
  }

  .popup__share--link {
    font-size: 25px;
    line-height: 40px;
  }

  .content--bigtitle {
    font-size: 55px;
    line-height: 55px;
  }

  .content__bg--title, .content__box--title {
    font-size: 49px;
    line-height: 51px;
  }

  .content__box--title {
    margin-bottom: 65px;
  }

  .header--slogan--text .header--slogan--text--wrap {
    min-height: 203px;
  }

  .content__bg--slide.slide1 {
    left: 15px;
  }
  .content__bg--slide.slide2 {
    left: -15px;
  }

  .content__bg--title:after,
.content__box--title:after {
    height: 95px;
  }

  .carousel-cell.is-selected .content__bg--slide--wrap {
    opacity: 1 !important;
    -webkit-animation-name: none;
    animation-name: none;
  }
}
@media screen and (max-width: 321px) {
  .popup--title {
    font-size: 40px;
    margin: 90px 0 30px 0;
  }

  .popup--subtitle,
.popup__share--description {
    padding: 0 15px;
    width: inherit;
    width: initial;
  }
}

/*# sourceMappingURL=main.css.map */
